
.title-container {
    margin-bottom: 50px; /* Ajusta el valor según sea necesario */
    
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    min-height: 70vh;
    padding: 20px;
}
.form-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
textarea {
    max-height: 200px; /* Ajusta esto al tamaño máximo que desees */
    overflow-y: auto; /* Permite el desplazamiento vertical si el contenido excede la altura */
}
